<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feralapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"

        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.feralapp.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 圈子分类 -->
        <activity android:name="com.example.fragment.ClassificationCircleFragmentAcitivity" />
        <!-- 分类 -->
      <!--   <activity android:name="com.example.fragment.ClassificationFragment" /> -->
        <!-- 已受约页面 -->
        <activity android:name="com.example.feralapp.InvitationSuccessfulActivity" />
        <!-- 消息页面 -->
        <activity android:name="com.example.feralapp.MessageActivity" />
        <!-- 我的帖子页面 -->
        <activity android:name="com.example.feralapp.MyinvitationActivity" />
        <!-- 设置页面 -->
        <activity android:name="com.example.feralapp.SettingActivity" />
        <!-- 关于我们 -->
        <activity android:name="com.example.feralapp.AboutUsActivity" >
        </activity>

        <!-- 我的收藏 -->
        <activity android:name="com.example.feralapp.MyCollectionActivity" />
        <!-- 我的报名记录 -->
        <activity android:name="com.example.feralapp.MyApplyActivity" />
        <!-- 发帖 -->
        <activity android:name="com.example.feralapp.PostAMessageActivity" />
    </application>

</manifest>